govern_communist(Q384).
govern_communist(R384).
govern_communist(S384).
govern_democ(T384).
govern_democ(U384).
govern_democ(V384).
govern_democ(W384).
govern_democ(X384).
govern_democ(Y384).
govern_democ(Z384).
govern_democ(A385).
govern_democ(B385).
govern_democ(C385).
govern_democ(D385).
govern_democ(E385).
govern_democ(F385).
govern_democ(G385).
govern_democ(H385).
govern_democ(I385).
govern_democ(J385).
govern_democ(K385).
govern_democ(L385).
govern_democ(M385).
govern_democ(N385).
govern_democ(O385).
govern_democ(P385).
govern_democ(Q385).
govern_democ(R385).
govern_democ(S385).
govern_democ(T385).
govern_democ(U385).
govern_democ(V385).
govern_democ(W385).
govern_democ(X385).
govern_democ(Y385).
govern_democ(Z385).
govern_democ(A386).
govern_democ(B386).
govern_democ(C386).
govern_democ(D386).
govern_democ(E386).
govern_democ(F386).
govern_democ(G386).
govern_democ(H386).
govern_dependent(I386).
govern_dependent(J386).
govern_dependent(K386).
govern_dependent(L386).
govern_dependent(M386).
govern_dependent(N386).
govern_dependent(O386).
govern_dependent(P386).
govern_dependent(Q386).
govern_dependent(R386).
govern_dependent(S386).
govern_dependent(T386).
govern_dependent(U386).
govern_dependent(V386).
govern_dependent(W386).
govern_dependent(X386).
govern_dependent(Y386).
govern_dependent(Z386).
govern_dependent(A387).
govern_dependent(B387).
govern_dependent(C387).
govern_dependent(D387).
govern_dependent(E387).
govern_dependent(F387).
govern_dependent(G387).
govern_monarch(H387).
govern_monarch(I387).
govern_monarch(J387).
govern_monarch(K387).
govern_monarch(L387).
govern_monarch(M387).
govern_monarch(N387).
govern_monarch(O387).
govern_monarch(P387).
govern_monarch(Q387).
govern_monarch(R387).
govern_monarch(S387).
govern_monarch(T387).
govern_monarch(U387).
govern_monarch(V387).
govern_monarch(W387).
govern_monarch(X387).
govern_monarch(Y387).
govern_monarch(Z387).
govern_monarch(A388).
govern_monarch(B388).
govern_monarch(C388).
govern_monarch(D388).
govern_monarch(E388).
govern_republic(F388).
govern_republic(G388).
govern_republic(H388).
govern_republic(I388).
govern_republic(J388).
govern_republic(K388).
govern_republic(L388).
govern_republic(M388).
govern_republic(N388).
govern_republic(O388).
govern_republic(P388).
govern_republic(Q388).
govern_republic(R388).
govern_republic(S388).
govern_republic(T388).
govern_republic(U388).
govern_republic(V388).
govern_republic(W388).
govern_republic(X388).
govern_republic(Y388).
govern_republic(Z388).
govern_republic(A389).
govern_republic(B389).
govern_republic(C389).
govern_republic(D389).
govern_republic(E389).
govern_republic(F389).
govern_republic(G389).
govern_republic(H389).
govern_republic(I389).
govern_republic(J389).
govern_republic(K389).
govern_republic(L389).
govern_republic(M389).
govern_republic(N389).
govern_republic(O389).
govern_republic(P389).
govern_republic(Q389).
govern_republic(R389).
govern_republic(S389).
govern_republic(T389).
govern_republic(U389).
govern_republic(V389).
govern_republic(W389).
govern_republic(X389).
govern_republic(Y389).
govern_republic(Z389).
govern_republic(A390).
govern_republic(B390).
govern_republic(C390).
govern_republic(D390).
govern_republic(E390).
govern_republic(F390).
govern_republic(G390).
govern_republic(H390).
govern_republic(I390).
govern_republic(J390).
govern_republic(K390).
govern_republic(L390).
govern_republic(M390).
govern_republic(N390).
govern_republic(O390).
govern_republic(P390).
govern_republic(Q390).
govern_republic(R390).
govern_republic(S390).
govern_republic(T390).
govern_republic(U390).
govern_republic(V390).
govern_republic(W390).
govern_republic(X390).
govern_republic(Y390).
govern_republic(Z390).
govern_republic(A391).
govern_republic(B391).
govern_republic(C391).
govern_republic(D391).
govern_republic(E391).
govern_republic(F391).
govern_republic(G391).
govern_republic(H391).
govern_republic(I391).
govern_republic(J391).
govern_republic(K391).
govern_republic(L391).
govern_republic(M391).
govern_republic(N391).
govern_republic(O391).
govern_republic(P391).
govern_republic(Q391).
govern_republic(R391).
govern_republic(S391).
percentage_0(T391).
percentage_0(U391).
percentage_0(V391).
percentage_0(W391).
percentage_0(X391).
percentage_0(Y391).
percentage_0(Z391).
percentage_0(A392).
percentage_0(B392).
percentage_0(C392).
percentage_0(D392).
percentage_0(E392).
percentage_0(F392).
percentage_0(G392).
percentage_0(H392).
percentage_0(I392).
percentage_0(J392).
percentage_0(K392).
percentage_0(L392).
percentage_0(M392).
percentage_0(N392).
percentage_0(O392).
percentage_0(P392).
percentage_0(Q392).
percentage_0(R392).
percentage_0(S392).
percentage_0(T392).
percentage_0(U392).
percentage_0(V392).
percentage_0(W392).
percentage_0(X392).
percentage_0(Y392).
percentage_0(Z392).
percentage_0(A393).
percentage_0(B393).
percentage_0(C393).
percentage_0(D393).
percentage_1(E393).
percentage_1(F393).
percentage_1(G393).
percentage_1(H393).
percentage_1(I393).
percentage_1(J393).
percentage_1(K393).
percentage_1(L393).
percentage_1(M393).
percentage_1(N393).
percentage_1(O393).
percentage_1(P393).
percentage_1(Q393).
percentage_1(R393).
percentage_1(S393).
percentage_1(T393).
percentage_1(U393).
percentage_1(V393).
percentage_1(W393).
percentage_1(X393).
percentage_1(Y393).
percentage_1(Z393).
percentage_1(A394).
percentage_1(B394).
percentage_1(C394).
percentage_1(D394).
percentage_1(E394).
percentage_1(F394).
percentage_1(G394).
percentage_1(H394).
percentage_1(I394).
percentage_1(J394).
percentage_1(K394).
percentage_1(L394).
percentage_1(M394).
percentage_1(N394).
percentage_1(O394).
percentage_2(P394).
percentage_2(Q394).
percentage_2(R394).
percentage_2(S394).
percentage_2(T394).
percentage_2(U394).
percentage_2(V394).
percentage_2(W394).
percentage_2(X394).
percentage_2(Y394).
percentage_2(Z394).
percentage_2(A395).
percentage_2(B395).
percentage_2(C395).
percentage_2(D395).
percentage_2(E395).
percentage_2(F395).
percentage_2(G395).
percentage_2(H395).
percentage_2(I395).
percentage_2(J395).
percentage_2(K395).
percentage_2(L395).
percentage_2(M395).
percentage_2(N395).
percentage_2(O395).
percentage_2(P395).
percentage_2(Q395).
percentage_2(R395).
percentage_2(S395).
percentage_2(T395).
percentage_2(U395).
percentage_2(V395).
percentage_2(W395).
percentage_2(X395).
percentage_2(Y395).
percentage_2(Z395).
percentage_3(A396).
percentage_3(B396).
percentage_3(C396).
percentage_3(D396).
percentage_3(E396).
percentage_3(F396).
percentage_3(G396).
percentage_3(H396).
percentage_3(I396).
percentage_3(J396).
percentage_3(K396).
percentage_3(L396).
percentage_3(M396).
percentage_3(N396).
percentage_3(O396).
percentage_3(P396).
percentage_3(Q396).
percentage_3(R396).
percentage_3(S396).
percentage_3(T396).
percentage_3(U396).
percentage_3(V396).
percentage_3(W396).
percentage_3(X396).
percentage_3(Y396).
percentage_3(Z396).
percentage_3(A397).
percentage_3(B397).
percentage_3(C397).
percentage_3(D397).
percentage_3(E397).
percentage_3(F397).
percentage_3(G397).
percentage_3(H397).
percentage_3(I397).
percentage_3(J397).
percentage_3(K397).
percentage_3(L397).
percentage_3(M397).
percentage_3(N397).
percentage_3(O397).
percentage_3(P397).
percentage_3(Q397).
percentage_3(R397).
percentage_3(S397).
percentage_3(T397).
percentage_3(U397).
percentage_3(V397).
percentage_3(W397).
percentage_3(X397).
percentage_3(Y397).
percentage_3(Z397).
percentage_3(A398).
percentage_3(B398).
percentage_3(C398).
percentage_3(D398).
percentage_3(E398).
percentage_4(F398).
percentage_4(G398).
percentage_4(H398).
percentage_4(I398).
percentage_4(J398).
percentage_4(K398).
percentage_4(L398).
percentage_4(M398).
percentage_4(N398).
percentage_4(O398).
percentage_4(P398).
percentage_4(Q398).
percentage_4(R398).
percentage_4(S398).
percentage_4(T398).
percentage_4(U398).
percentage_4(V398).
popu_0(W398).
popu_0(X398).
popu_0(Y398).
popu_0(Z398).
popu_0(A399).
popu_0(B399).
popu_0(C399).
popu_0(D399).
popu_0(E399).
popu_0(F399).
popu_0(G399).
popu_0(H399).
popu_0(I399).
popu_0(J399).
popu_0(K399).
popu_0(L399).
popu_0(M399).
popu_0(N399).
popu_0(O399).
popu_0(P399).
popu_0(Q399).
popu_0(R399).
popu_0(S399).
popu_0(T399).
popu_0(U399).
popu_0(V399).
popu_0(W399).
popu_0(X399).
popu_0(Y399).
popu_0(Z399).
popu_0(A400).
popu_0(B400).
popu_0(C400).
popu_0(D400).
popu_0(E400).
popu_0(F400).
popu_0(G400).
popu_1(H400).
popu_1(I400).
popu_1(J400).
popu_1(K400).
popu_1(L400).
popu_1(M400).
popu_1(N400).
popu_1(O400).
popu_1(P400).
popu_1(Q400).
popu_1(R400).
popu_1(S400).
popu_1(T400).
popu_1(U400).
popu_1(V400).
popu_1(W400).
popu_1(X400).
popu_1(Y400).
popu_1(Z400).
popu_1(A401).
popu_1(B401).
popu_1(C401).
popu_1(D401).
popu_1(E401).
popu_1(F401).
popu_1(G401).
popu_1(H401).
popu_1(I401).
popu_1(J401).
popu_1(K401).
popu_1(L401).
popu_1(M401).
popu_1(N401).
popu_1(O401).
popu_1(P401).
popu_1(Q401).
popu_1(R401).
popu_2(S401).
popu_2(T401).
popu_2(U401).
popu_2(V401).
popu_2(W401).
popu_2(X401).
popu_2(Y401).
popu_2(Z401).
popu_2(A402).
popu_2(B402).
popu_2(C402).
popu_2(D402).
popu_2(E402).
popu_2(F402).
popu_2(G402).
popu_2(H402).
popu_2(I402).
popu_2(J402).
popu_2(K402).
popu_2(L402).
popu_2(M402).
popu_2(N402).
popu_2(O402).
popu_2(P402).
popu_2(Q402).
popu_2(R402).
popu_2(S402).
popu_2(T402).
popu_2(U402).
popu_2(V402).
popu_2(W402).
popu_2(X402).
popu_2(Y402).
popu_2(Z402).
popu_2(A403).
popu_2(B403).
popu_2(C403).
popu_3(D403).
popu_3(E403).
popu_3(F403).
popu_3(G403).
popu_3(H403).
popu_3(I403).
popu_3(J403).
popu_3(K403).
popu_3(L403).
popu_3(M403).
popu_3(N403).
popu_3(O403).
popu_3(P403).
popu_3(Q403).
popu_3(R403).
popu_3(S403).
popu_3(T403).
popu_3(U403).
popu_3(V403).
popu_3(W403).
popu_3(X403).
popu_3(Y403).
popu_3(Z403).
popu_3(A404).
popu_3(B404).
popu_3(C404).
popu_3(D404).
popu_3(E404).
popu_3(F404).
popu_3(G404).
popu_3(H404).
popu_3(I404).
popu_3(J404).
popu_3(K404).
popu_3(L404).
popu_3(M404).
popu_3(N404).
popu_4(O404).
popu_4(P404).
popu_4(Q404).
popu_4(R404).
popu_4(S404).
popu_4(T404).
popu_4(U404).
popu_4(V404).
popu_4(W404).
popu_4(X404).
popu_4(Y404).
popu_4(Z404).
popu_4(A405).
popu_4(B405).
popu_4(C405).
popu_4(D405).
popu_4(E405).
popu_4(F405).
popu_4(G405).
popu_4(H405).
popu_4(I405).
popu_4(J405).
popu_4(K405).
popu_4(L405).
popu_4(M405).
popu_4(N405).
popu_4(O405).
popu_4(P405).
popu_4(Q405).
popu_4(R405).
popu_4(S405).
popu_4(T405).
popu_4(U405).
popu_4(V405).
popu_4(W405).
popu_4(X405).
popu_4(Y405).
continent_Africa(Z405).
continent_Africa(A406).
continent_Africa(B406).
continent_Africa(C406).
continent_Africa(D406).
continent_Africa(E406).
continent_Africa(F406).
continent_Africa(G406).
continent_Africa(H406).
continent_Africa(I406).
continent_Africa(J406).
continent_Africa(K406).
continent_Africa(L406).
continent_Africa(M406).
continent_Africa(N406).
continent_Africa(O406).
continent_Africa(P406).
continent_Africa(Q406).
continent_Africa(R406).
continent_Africa(S406).
continent_Africa(T406).
continent_Africa(U406).
continent_Africa(V406).
continent_Africa(W406).
continent_Africa(X406).
continent_Africa(Y406).
continent_Africa(Z406).
continent_Africa(A407).
continent_Africa(B407).
continent_Africa(C407).
continent_Africa(D407).
continent_Africa(E407).
continent_Africa(F407).
continent_Africa(G407).
continent_Africa(H407).
continent_Africa(I407).
continent_Africa(J407).
continent_Africa(K407).
continent_Africa(L407).
continent_Africa(M407).
continent_Africa(N407).
continent_Africa(O407).
continent_Africa(P407).
continent_Africa(Q407).
continent_Africa(R407).
continent_Africa(S407).
continent_America(T407).
continent_America(U407).
continent_America(V407).
continent_America(W407).
continent_America(X407).
continent_America(Y407).
continent_America(Z407).
continent_America(A408).
continent_America(B408).
continent_America(C408).
continent_America(D408).
continent_America(E408).
continent_America(F408).
continent_America(G408).
continent_America(H408).
continent_America(I408).
continent_America(J408).
continent_America(K408).
continent_America(L408).
continent_America(M408).
continent_America(N408).
continent_America(O408).
continent_America(P408).
continent_America(Q408).
continent_America(R408).
continent_America(S408).
continent_America(T408).
continent_America(U408).
continent_America(V408).
continent_America(W408).
continent_America(X408).
continent_America(Y408).
continent_America(Z408).
continent_America(A409).
continent_America(B409).
continent_America(C409).
continent_America(D409).
continent_America(E409).
continent_America(F409).
continent_America(G409).
continent_Asia(H409).
continent_Asia(I409).
continent_Asia(J409).
continent_Asia(K409).
continent_Asia(L409).
continent_Asia(M409).
continent_Asia(N409).
continent_Asia(O409).
continent_Asia(P409).
continent_Asia(Q409).
continent_Asia(R409).
continent_Asia(S409).
continent_Asia(T409).
continent_Asia(U409).
continent_Asia(V409).
continent_Asia(W409).
continent_Asia(X409).
continent_Asia(Y409).
continent_Asia(Z409).
continent_Asia(A410).
continent_Asia(B410).
continent_Asia(C410).
continent_Asia(D410).
continent_Asia(E410).
continent_Asia(F410).
continent_Asia(G410).
continent_Asia(H410).
continent_Asia(I410).
continent_Asia(J410).
continent_Asia(K410).
continent_Asia(L410).
continent_Asia(M410).
continent_Asia(N410).
continent_Asia(O410).
continent_Asia(P410).
continent_Asia(Q410).
continent_Asia(R410).
continent_Asia(S410).
continent_aus(T410).
continent_aus(U410).
continent_aus(V410).
continent_aus(W410).
continent_aus(X410).
continent_aus(Y410).
continent_aus(Z410).
continent_aus(A411).
continent_aus(B411).
continent_aus(C411).
continent_aus(D411).
continent_aus(E411).
continent_aus(F411).
continent_aus(G411).
continent_aus(H411).
continent_aus(I411).
continent_aus(J411).
continent_aus(K411).
continent_aus(L411).
continent_aus(M411).
continent_Europe(N411).
continent_Europe(O411).
continent_Europe(P411).
continent_Europe(Q411).
continent_Europe(R411).
continent_Europe(S411).
continent_Europe(T411).
continent_Europe(U411).
continent_Europe(V411).
continent_Europe(W411).
continent_Europe(X411).
continent_Europe(Y411).
continent_Europe(Z411).
continent_Europe(A412).
continent_Europe(B412).
continent_Europe(C412).
continent_Europe(D412).
continent_Europe(E412).
continent_Europe(F412).
continent_Europe(G412).
continent_Europe(H412).
continent_Europe(I412).
continent_Europe(J412).
continent_Europe(K412).
continent_Europe(L412).
continent_Europe(M412).
continent_Europe(N412).
continent_Europe(O412).
continent_Europe(P412).
continent_Europe(Q412).
continent_Europe(R412).
continent_Europe(S412).
continent_Europe(T412).
continent_Europe(U412).
continent_Europe(V412).
continent_Europe(W412).
continent_Europe(X412).
continent_Europe(Y412).
continent_Europe(Z412).
continent_Europe(A413).
continent_Europe(B413).
class_0(C413).
class_0(D413).
class_0(E413).
class_0(F413).
class_0(G413).
class_0(H413).
class_0(I413).
class_0(J413).
class_0(K413).
class_0(L413).
class_0(M413).
class_0(N413).
class_0(O413).
class_0(P413).
class_0(Q413).
class_0(R413).
class_0(S413).
class_0(T413).
class_0(U413).
class_0(V413).
class_0(W413).
class_0(X413).
class_0(Y413).
class_0(Z413).
class_0(A414).
class_0(B414).
class_0(C414).
class_0(D414).
class_0(E414).
class_0(F414).
class_0(G414).
class_0(H414).
class_0(I414).
class_0(J414).
class_0(K414).
class_0(L414).
class_0(M414).
class_0(N414).
class_0(O414).
class_0(P414).
class_0(Q414).
class_0(R414).
class_0(S414).
class_0(T414).
class_0(U414).
class_0(V414).
class_0(W414).
class_0(X414).
class_0(Y414).
class_0(Z414).
class_0(A415).
class_0(B415).
class_0(C415).
class_0(D415).
class_0(E415).
class_0(F415).
class_0(G415).
class_0(H415).
class_0(I415).
class_0(J415).
class_0(K415).
class_0(L415).
class_0(M415).
class_0(N415).
class_0(O415).
class_0(P415).
class_0(Q415).
class_0(R415).
class_0(S415).
class_0(T415).
class_0(U415).
class_1(V415).
class_1(W415).
class_1(X415).
class_1(Y415).
class_1(Z415).
class_1(A416).
class_1(B416).
class_1(C416).
class_1(D416).
class_1(E416).
class_1(F416).
class_1(G416).
class_1(H416).
class_1(I416).
class_1(J416).
class_1(K416).
class_1(L416).
class_1(M416).
class_1(N416).
class_1(O416).
class_1(P416).
class_1(Q416).
class_1(R416).
class_1(S416).
class_1(T416).
class_1(U416).
class_1(V416).
class_1(W416).
class_1(X416).
class_1(Y416).
class_1(Z416).
class_1(A417).
class_1(B417).
class_1(C417).
class_1(D417).
class_1(E417).
class_1(F417).
class_1(G417).
class_1(H417).
class_1(I417).
class_1(J417).
class_1(K417).
class_1(L417).
class_1(M417).
class_1(N417).
class_1(O417).
class_1(P417).
class_1(Q417).
class_1(R417).
class_1(S417).
class_1(T417).
class_1(U417).
class_1(V417).
class_1(W417).
class_1(X417).
class_1(Y417).
class_1(Z417).
class_1(A418).
class_1(B418).
class_1(C418).
class_1(D418).
class_1(E418).
class_1(F418).
class_1(G418).
class_1(H418).
class_1(I418).
class_1(J418).
class_1(K418).
class_1(L418).
class_1(M418).
class_1(N418).
class_1(O418).
class_1(P418).
class_1(Q418).
class_1(R418).
class_1(S418).
class_1(T418).
class_1(U418).
class_1(V418).
class_1(W418).
class_1(X418).
class_1(Y418).
class_1(Z418).
class_1(A419).
class_1(B419).
class_1(C419).
class_1(D419).
class_1(E419).
class_1(F419).
class_1(G419).
class_1(H419).
class_1(I419).
class_1(J419).
class_1(K419).
class_1(L419).
class_1(M419).
class_1(N419).
class_1(O419).
class_1(P419).
class_1(Q419).
class_1(R419).
class_1(S419).
class_1(T419).
class_1(U419).
class_1(V419).
class_1(W419).
class_1(X419).
class_1(Y419).
class_1(Z419).
class_1(A420).
class_1(B420).
class_1(C420).
class_1(D420).
class_1(E420).
gdp_0(F420).
gdp_0(G420).
gdp_0(H420).
gdp_0(I420).
gdp_0(J420).
gdp_0(K420).
gdp_0(L420).
gdp_0(M420).
gdp_0(N420).
gdp_0(O420).
gdp_0(P420).
gdp_0(Q420).
gdp_0(R420).
gdp_0(S420).
gdp_0(T420).
gdp_0(U420).
gdp_0(V420).
gdp_0(W420).
gdp_0(X420).
gdp_0(Y420).
gdp_0(Z420).
gdp_0(A421).
gdp_0(B421).
gdp_0(C421).
gdp_0(D421).
gdp_0(E421).
gdp_0(F421).
gdp_1(G421).
gdp_1(H421).
gdp_1(I421).
gdp_1(J421).
gdp_1(K421).
gdp_1(L421).
gdp_1(M421).
gdp_1(N421).
gdp_1(O421).
gdp_1(P421).
gdp_1(Q421).
gdp_1(R421).
gdp_1(S421).
gdp_1(T421).
gdp_1(U421).
gdp_1(V421).
gdp_1(W421).
gdp_1(X421).
gdp_1(Y421).
gdp_1(Z421).
gdp_1(A422).
gdp_1(B422).
gdp_1(C422).
gdp_1(D422).
gdp_1(E422).
gdp_1(F422).
gdp_1(G422).
gdp_2(H422).
gdp_2(I422).
gdp_2(J422).
gdp_2(K422).
gdp_2(L422).
gdp_2(M422).
gdp_2(N422).
gdp_2(O422).
gdp_2(P422).
gdp_2(Q422).
gdp_2(R422).
gdp_2(S422).
gdp_2(T422).
gdp_2(U422).
gdp_2(V422).
gdp_2(W422).
gdp_2(X422).
gdp_2(Y422).
gdp_2(Z422).
gdp_2(A423).
gdp_2(B423).
gdp_2(C423).
gdp_2(D423).
gdp_2(E423).
gdp_2(F423).
gdp_2(G423).
gdp_2(H423).
gdp_3(I423).
gdp_3(J423).
gdp_3(K423).
gdp_3(L423).
gdp_3(M423).
gdp_3(N423).
gdp_3(O423).
gdp_3(P423).
gdp_3(Q423).
gdp_3(R423).
gdp_3(S423).
gdp_3(T423).
gdp_3(U423).
gdp_3(V423).
gdp_3(W423).
gdp_3(X423).
gdp_3(Y423).
gdp_3(Z423).
gdp_3(A424).
gdp_3(B424).
gdp_3(C424).
gdp_3(D424).
gdp_3(E424).
gdp_3(F424).
gdp_3(G424).
gdp_3(H424).
gdp_3(I424).
gdp_4(J424).
gdp_4(K424).
gdp_4(L424).
gdp_4(M424).
gdp_4(N424).
gdp_4(O424).
gdp_4(P424).
gdp_4(Q424).
gdp_4(R424).
gdp_4(S424).
gdp_4(T424).
gdp_4(U424).
gdp_4(V424).
gdp_4(W424).
gdp_4(X424).
gdp_4(Y424).
gdp_4(Z424).
gdp_4(A425).
gdp_4(B425).
gdp_4(C425).
gdp_4(D425).
gdp_4(E425).
gdp_4(F425).
gdp_4(G425).
gdp_4(H425).
gdp_4(I425).
gdp_4(J425).
service_0(K425).
service_0(L425).
service_0(M425).
service_0(N425).
service_0(O425).
service_0(P425).
service_0(Q425).
service_0(R425).
service_0(S425).
service_0(T425).
service_0(U425).
service_0(V425).
service_0(W425).
service_0(X425).
service_0(Y425).
service_0(Z425).
service_0(A426).
service_0(B426).
service_0(C426).
service_0(D426).
service_0(E426).
service_0(F426).
service_0(G426).
service_0(H426).
service_0(I426).
service_0(J426).
service_0(K426).
service_1(L426).
service_1(M426).
service_1(N426).
service_1(O426).
service_1(P426).
service_1(Q426).
service_1(R426).
service_1(S426).
service_1(T426).
service_1(U426).
service_1(V426).
service_1(W426).
service_1(X426).
service_1(Y426).
service_1(Z426).
service_1(A427).
service_1(B427).
service_1(C427).
service_1(D427).
service_1(E427).
service_1(F427).
service_1(G427).
service_1(H427).
service_1(I427).
service_1(J427).
service_1(K427).
service_1(L427).
service_1(M427).
service_2(N427).
service_2(O427).
service_2(P427).
service_2(Q427).
service_2(R427).
service_2(S427).
service_2(T427).
service_2(U427).
service_2(V427).
service_2(W427).
service_2(X427).
service_2(Y427).
service_2(Z427).
service_2(A428).
service_2(B428).
service_2(C428).
service_2(D428).
service_2(E428).
service_2(F428).
service_2(G428).
service_2(H428).
service_2(I428).
service_2(J428).
service_2(K428).
service_2(L428).
service_2(M428).
service_2(N428).
service_3(O428).
service_3(P428).
service_3(Q428).
service_3(R428).
service_3(S428).
service_3(T428).
service_3(U428).
service_3(V428).
service_3(W428).
service_3(X428).
service_3(Y428).
service_3(Z428).
service_3(A429).
service_3(B429).
service_3(C429).
service_3(D429).
service_3(E429).
service_3(F429).
service_3(G429).
service_3(H429).
service_3(I429).
service_3(J429).
service_3(K429).
service_3(L429).
service_3(M429).
service_3(N429).
service_3(O429).
service_4(P429).
service_4(Q429).
service_4(R429).
service_4(S429).
service_4(T429).
service_4(U429).
service_4(V429).
service_4(W429).
service_4(X429).
service_4(Y429).
service_4(Z429).
service_4(A430).
service_4(B430).
service_4(C430).
service_4(D430).
service_4(E430).
service_4(F430).
service_4(G430).
service_4(H430).
service_4(I430).
service_4(J430).
service_4(K430).
service_4(L430).
service_4(M430).
service_4(N430).
service_4(O430).
inflation_0(P430).
inflation_0(Q430).
inflation_0(R430).
inflation_0(S430).
inflation_0(T430).
inflation_0(U430).
inflation_0(V430).
inflation_0(W430).
inflation_0(X430).
inflation_0(Y430).
inflation_0(Z430).
inflation_0(A431).
inflation_0(B431).
inflation_0(C431).
inflation_0(D431).
inflation_0(E431).
inflation_0(F431).
inflation_0(G431).
inflation_0(H431).
inflation_0(I431).
inflation_0(J431).
inflation_0(K431).
inflation_0(L431).
inflation_0(M431).
inflation_0(N431).
inflation_0(O431).
inflation_0(P431).
inflation_0(Q431).
inflation_0(R431).
inflation_0(S431).
inflation_0(T431).
inflation_0(U431).
inflation_0(V431).
inflation_0(W431).
inflation_0(X431).
inflation_0(Y431).
inflation_0(Z431).
inflation_0(A432).
inflation_0(B432).
inflation_0(C432).
inflation_0(D432).
inflation_0(E432).
inflation_0(F432).
inflation_0(G432).
inflation_0(H432).
inflation_0(I432).
inflation_0(J432).
inflation_0(K432).
inflation_0(L432).
inflation_0(M432).
inflation_0(N432).
inflation_0(O432).
inflation_0(P432).
inflation_0(Q432).
inflation_0(R432).
inflation_0(S432).
inflation_0(T432).
inflation_0(U432).
inflation_0(V432).
inflation_0(W432).
inflation_0(X432).
inflation_0(Y432).
inflation_0(Z432).
inflation_0(A433).
inflation_0(B433).
inflation_0(C433).
inflation_0(D433).
inflation_0(E433).
inflation_0(F433).
inflation_0(G433).
inflation_0(H433).
inflation_0(I433).
inflation_0(J433).
inflation_0(K433).
inflation_0(L433).
inflation_0(M433).
inflation_0(N433).
inflation_0(O433).
inflation_0(P433).
inflation_0(Q433).
inflation_0(R433).
inflation_0(S433).
inflation_0(T433).
inflation_0(U433).
inflation_0(V433).
inflation_0(W433).
inflation_0(X433).
inflation_0(Y433).
inflation_0(Z433).
inflation_0(A434).
inflation_0(B434).
inflation_0(C434).
inflation_0(D434).
inflation_0(E434).
inflation_0(F434).
inflation_0(G434).
inflation_0(H434).
inflation_0(I434).
inflation_0(J434).
inflation_0(K434).
inflation_0(L434).
inflation_0(M434).
inflation_0(N434).
inflation_0(O434).
inflation_0(P434).
inflation_0(Q434).
inflation_0(R434).
inflation_0(S434).
inflation_0(T434).
inflation_0(U434).
inflation_0(V434).
inflation_0(W434).
inflation_0(X434).
inflation_0(Y434).
inflation_0(Z434).
inflation_0(A435).
inflation_0(B435).
inflation_0(C435).
inflation_1(D435).
inflation_1(E435).
inflation_1(F435).
inflation_1(G435).
inflation_1(H435).
inflation_1(I435).
inflation_1(J435).
inflation_1(K435).
inflation_1(L435).
inflation_1(M435).
inflation_1(N435).
inflation_1(O435).
inflation_1(P435).
inflation_1(Q435).
inflation_1(R435).
inflation_1(S435).
inflation_4(T435).
industry_0(U435).
industry_0(V435).
industry_1(W435).
industry_1(X435).
industry_1(Y435).
industry_1(Z435).
industry_1(A436).
industry_1(B436).
industry_1(C436).
industry_1(D436).
industry_1(E436).
industry_1(F436).
industry_1(G436).
industry_1(H436).
industry_1(I436).
industry_1(J436).
industry_1(K436).
industry_1(L436).
industry_1(M436).
industry_1(N436).
industry_1(O436).
industry_1(P436).
industry_1(Q436).
industry_1(R436).
industry_1(S436).
industry_1(T436).
industry_1(U436).
industry_1(V436).
industry_1(W436).
industry_1(X436).
industry_1(Y436).
industry_1(Z436).
industry_1(A437).
industry_1(B437).
industry_1(C437).
industry_2(D437).
industry_2(E437).
industry_2(F437).
industry_2(G437).
industry_2(H437).
industry_2(I437).
industry_2(J437).
industry_2(K437).
industry_2(L437).
industry_2(M437).
industry_2(N437).
industry_2(O437).
industry_2(P437).
industry_2(Q437).
industry_2(R437).
industry_2(S437).
industry_2(T437).
industry_2(U437).
industry_2(V437).
industry_2(W437).
industry_2(X437).
industry_2(Y437).
industry_2(Z437).
industry_2(A438).
industry_2(B438).
industry_2(C438).
industry_2(D438).
industry_2(E438).
industry_2(F438).
industry_2(G438).
industry_2(H438).
industry_2(I438).
industry_2(J438).
industry_2(K438).
industry_2(L438).
industry_2(M438).
industry_2(N438).
industry_2(O438).
industry_2(P438).
industry_2(Q438).
industry_2(R438).
industry_2(S438).
industry_2(T438).
industry_2(U438).
industry_2(V438).
industry_2(W438).
industry_2(X438).
industry_2(Y438).
industry_2(Z438).
industry_2(A439).
industry_2(B439).
industry_2(C439).
industry_2(D439).
industry_2(E439).
industry_2(F439).
industry_2(G439).
industry_2(H439).
industry_2(I439).
industry_2(J439).
industry_2(K439).
industry_3(L439).
industry_3(M439).
industry_3(N439).
industry_3(O439).
industry_3(P439).
industry_3(Q439).
industry_3(R439).
industry_3(S439).
industry_3(T439).
industry_3(U439).
industry_3(V439).
industry_3(W439).
industry_3(X439).
industry_3(Y439).
industry_3(Z439).
industry_3(A440).
industry_3(B440).
industry_3(C440).
industry_3(D440).
industry_3(E440).
industry_3(F440).
industry_3(G440).
industry_3(H440).
industry_3(I440).
industry_3(J440).
industry_3(K440).
industry_3(L440).
industry_3(M440).
industry_3(N440).
industry_3(O440).
industry_3(P440).
industry_3(Q440).
industry_3(R440).
industry_3(S440).
industry_4(T440).
industry_4(U440).
industry_4(V440).
industry_4(W440).
industry_4(X440).
industry_4(Y440).
agricul_0(Z440).
agricul_0(A441).
agricul_0(B441).
agricul_0(C441).
agricul_0(D441).
agricul_0(E441).
agricul_0(F441).
agricul_0(G441).
agricul_0(H441).
agricul_0(I441).
agricul_0(J441).
agricul_0(K441).
agricul_0(L441).
agricul_0(M441).
agricul_0(N441).
agricul_0(O441).
agricul_0(P441).
agricul_0(Q441).
agricul_0(R441).
agricul_0(S441).
agricul_0(T441).
agricul_0(U441).
agricul_0(V441).
agricul_0(W441).
agricul_0(X441).
agricul_0(Y441).
agricul_0(Z441).
agricul_0(A442).
agricul_1(B442).
agricul_1(C442).
agricul_1(D442).
agricul_1(E442).
agricul_1(F442).
agricul_1(G442).
agricul_1(H442).
agricul_1(I442).
agricul_1(J442).
agricul_1(K442).
agricul_1(L442).
agricul_1(M442).
agricul_1(N442).
agricul_1(O442).
agricul_1(P442).
agricul_1(Q442).
agricul_1(R442).
agricul_1(S442).
agricul_1(T442).
agricul_1(U442).
agricul_1(V442).
agricul_1(W442).
agricul_1(X442).
agricul_1(Y442).
agricul_1(Z442).
agricul_1(A443).
agricul_1(B443).
agricul_2(C443).
agricul_2(D443).
agricul_2(E443).
agricul_2(F443).
agricul_2(G443).
agricul_2(H443).
agricul_2(I443).
agricul_2(J443).
agricul_2(K443).
agricul_2(L443).
agricul_2(M443).
agricul_2(N443).
agricul_2(O443).
agricul_2(P443).
agricul_2(Q443).
agricul_2(R443).
agricul_2(S443).
agricul_2(T443).
agricul_2(U443).
agricul_2(V443).
agricul_2(W443).
agricul_2(X443).
agricul_2(Y443).
agricul_2(Z443).
agricul_2(A444).
agricul_2(B444).
agricul_2(C444).
agricul_2(D444).
agricul_3(E444).
agricul_3(F444).
agricul_3(G444).
agricul_3(H444).
agricul_3(I444).
agricul_3(J444).
agricul_3(K444).
agricul_3(L444).
agricul_3(M444).
agricul_3(N444).
agricul_3(O444).
agricul_3(P444).
agricul_3(Q444).
agricul_3(R444).
agricul_3(S444).
agricul_3(T444).
agricul_3(U444).
agricul_3(V444).
agricul_3(W444).
agricul_3(X444).
agricul_3(Y444).
agricul_3(Z444).
agricul_3(A445).
agricul_3(B445).
agricul_3(C445).
agricul_3(D445).
agricul_3(E445).
agricul_3(F445).
agricul_4(G445).
agricul_4(H445).
agricul_4(I445).
agricul_4(J445).
agricul_4(K445).
agricul_4(L445).
agricul_4(M445).
agricul_4(N445).
agricul_4(O445).
agricul_4(P445).
agricul_4(Q445).
agricul_4(R445).
agricul_4(S445).
agricul_4(T445).
agricul_4(U445).
agricul_4(V445).
agricul_4(W445).
agricul_4(X445).
agricul_4(Y445).
agricul_4(Z445).
agricul_4(A446).
agricul_4(B446).
agricul_4(C446).
agricul_4(D446).
